    body {
    font-family: Comic sans-serif;
    background-color: rgb(28, 28, 28);
    color: white;
    line-height: 1.6;
}

h1 {
    color: rgb(250, 153, 205);
    text-align: center;
}

#topicos {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgb(250, 153, 205);
}

a{
    color: rgb(250, 153, 205);
}

p {
    width: 900px;
    margin: 15px auto;
    font-size: 18px;
    text-align: justify;
}

ol {
    max-width: 480px;
    margin: 20px auto;
}

#lista{
    max-width: 250px;
    margin: 20px auto;
}

li {
    margin: 8px 0;
    font-size: 18px;
}

hr {
    border: rgb(250, 153, 205);
    height: 2px;
    background-color: rgb(250, 153, 205);
    margin: 30px auto;
    width: 80%;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 15px;
    border: 3px solid rgb(250, 153, 205);
    box-shadow: 0px 0px 20px rgb(250, 153, 205);
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px rgb(250, 153, 205);
}