body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    position: relative; 
    color: #fff;
    background-color:#333;
}

header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    height: 200px;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

header nav {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
}

header nav li {
    list-style: none; 
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-top: 30px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px; 
}

section img{
    width: 300px;
    height: 350px;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 98.7%;
    height: 50px; 
}

.SobreMim{
    border: 5px solid #1e1e1e;
    background-color: #2b2929;
    color: #fff;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px ;
    transition: 0.5s;
}

.SobreMim img{
    width: 600px;
}

#pibbles {
    display: block;
    margin: 40px auto; 
    width: 300px;
    transition: 0.5s;
    margin-bottom: 20px;
}

#pibbles:hover {
    width: 400px;
}

.outros {
    display: flex;
    justify-content: center;     
    align-items: flex-start;
    gap: 60px;                  
    flex-wrap: nowrap;           
    margin: 50px auto;
    width: fit-content;          
}

.box-outros {
    border: 5px solid #1e1e1e;
    background-color: #2b2929;
    color: #fff;
    text-align: center;
    width: 350px;              
    height: 275px;
    padding: 20px;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.box-outros:hover {
    background-color: #3a3838;
    transform: scale(1.03);
}
